#mainColumn{
    margin-top: 6%;
    /* border: 1px solid; */
    box-shadow: 0px 0px 1px; 
    /* background-color: darkgray; */
}

/* heading style */

.heading{
    font-size: 25px;
}
.heading :nth-child(2) , .heading :nth-child(6){
    color:red;
}
.heading :nth-child(1) , .heading :nth-child(4) {
    color: mediumblue;
}
.heading :nth-child(3){
    color: gold;
}
.heading :nth-child(5){
    color: green;
}


/* sign in heading css*/
.signIn{
    font-size: 22px;
}

label{
    font-size: 18px;
}
.form-control{
    width: 90%;
    height: 35px;
}
button{
    padding-bottom: 1px 5px;
    height: 33px;
    font-family: 'Courier New', Courier, monospace;
}
.col-4{
    color: blue;
    font-family: 'Courier New', Courier, monospace;

}
.emailError , .emailError1 , .passwordError , .error{
    color: red;
}