
.navbar{
    // background-color: rgb(226, 216, 161);
}
.img-rounded{
    height: 4rem;
    width: auto;
    background: none;
}

.heading{
    letter-spacing: 2px;
    position: relative;
}
.heading::after{
    content: "";
    height: 0.2rem;
    border-radius: 20px;
    background: rgb(243, 126, 126);
    width: 8rem;
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%)    
}

.card{
    box-shadow:2px 5px 10px;
    position: relative;
}
.features{
    font-size: 1rem
}
ul li{
    font-size: 0.9em;
    text-transform: capitalize;
}

.matCard{
    width:50% ;
    height: 50%;
    /* border: 1px solid yellow */
}
.matCard1{
    transition: 0.1s;
    width:240px;
    position: absolute;
    z-index: 2;
    height: 240px;
}
.matCard2{
    transition: 0.1s;
    width:240px;
    position: absolute;
    z-index: 2;
    height: 240px;
}
.subCard1{
    transition: 0.1s;
    background: gray;width:240px;height: 240px;margin-left:40px;margin-top: 45px
}
.subCard2{
    transition: 0.1s;
    background: gray;width:240px;height: 240px;margin-left:40px;margin-top: 45px
}
.firstDiv{
    transition: 0.1s;
}
.secondDiv{
    transition: 0.1s;
}

.firstDiv:hover{
    transform: scale(1.1);
    .subCard1{
        background: rgb(247, 201, 19);
    }
}
.secondDiv:hover{
    transform: scale(1.1);
    .subCard2{
        background: rgb(247, 201, 19);
    }
}

.animated span{
    padding: 5px 10px;
    letter-spacing: 2px;
    font-size: 1.8rem;
    cursor: pointer;
    // font-weight: 100;
    border-bottom: 3px solid #4caf50;
    border-radius: 10px;
    background: linear-gradient(rgb(80, 177, 80));
    color: white;
    font-family: fantasy;
    box-shadow: 1px 3px 8px cornsilk;
}



            /* ---- media queries ------ */


@media screen and (max-width: 282px){
    .matCard1{
        position: relative;
        width: 100%;
        /* height: 320px; */
    }
}
@media screen and (min-width: 599px){
    .subCard1 {
        width: 250px;
        height: 270px;
    }
    .subCard2 {
        width: 250px;
        height: 270px;
    }
}