<nav style="width: 100%" class="navbar navbar-collapse">
  <div class="">
    <div class="navbar-brand">
      <span style="">FUNDOO ADMIN</span>
    </div>
  </div>
</nav>
<div class="p-1"></div>
<div fxLayout fxLayoutAlign="center center">
  <h4> Fundoo Notes Offered. Choose The Below Service to Register. </h4>
</div>

<div fxLayout="column" fxLayoutAlign="space-around center">

    <div  fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center">

        <div class="firstDiv" (click)="onSelectAdvance()" fxLayout fxLayoutAlign="center center">
      
          <mat-card class="matCard1" id="card1">
            <h5> Price : $ 99 / months</h5>
            <mat-divider></mat-divider>
            <p> Advance </p>
            <ul>
              <li class="features"> $ 99 / month </li>
              <li class="features"> Ability to Add Title , Description , Images , Labels , Checklist and Colors. </li>
            </ul>
          </mat-card>
      
          <mat-card fxLayout="column" dir="rtl" class="subCard1" fxLayoutAlign="end center">
            <mat-card-actions fxFlexAlign="end ">Add To Cart</mat-card-actions>
          </mat-card>
      
        </div>
        
        <div class="secondDiv" (click)="onSelectBasic()" fxLayout fxLayoutAlign="center center">
      
            <mat-card class="matCard2" id="card2">
              <h5> Price : $ 49 / months</h5>
              <mat-divider></mat-divider>
              <p> Basic </p>
              <ul>
                <li class="features"> $ 49 / month </li>
                <li class="features"> Ability to Add Only Title and Description . </li>
              </ul>
            </mat-card>
        
            <mat-card fxLayout="column" dir="rtl" class="subCard2" fxLayoutAlign="end center">
              <mat-card-actions fxFlexAlign="end ">Add To Cart</mat-card-actions>
            </mat-card>
        
        </div>
      
      
      </div>
      
<div fxLayout fxFlexAlign="end end" style="position: relative;top: 30px">
    <span style="color: blue" routerLink="admin">Sign In Instead </span>
</div>

</div>
