.navbar{
    background-color: rgb(221, 200, 83);
}

.features{
    font-size: 1rem
}
ul li{
    font-size: 0.9em;
}

.matCard{
    width:50% ;
    height: 50%;
    /* border: 1px solid yellow */
}
.matCard1{
    transition: 0.1s;
    width:240px;
    position: absolute;
    z-index: 2;
    height: 240px;
}
.matCard2{
    transition: 0.1s;
    width:240px;
    position: absolute;
    z-index: 2;
    height: 240px;
}
.subCard1{
    transition: 0.1s;
    background: gray;width:240px;height: 240px;margin-left:40px;margin-top: 45px
}
.subCard2{
    transition: 0.1s;
    background: gray;width:240px;height: 240px;margin-left:40px;margin-top: 45px
}
.firstDiv{
    transition: 0.1s;
}
.secondDiv{
    transition: 0.1s;
}

.firstDiv:hover{
    transform: scale(1.1);
    .subCard1{
        background: rgb(247, 201, 19);
    }
}
.secondDiv:hover{
    transform: scale(1.1);
    .subCard2{
        background: rgb(247, 201, 19);
    }
}



            /* ---- media queries ------ */


@media screen and (max-width: 282px){
    .matCard1{
        position: relative;
        width: 100%;
        /* height: 320px; */
    }
}
@media screen and (min-width: 599px){
    .subCard1 {
        width: 250px;
        height: 270px;
    }
    .subCard2 {
        width: 250px;
        height: 270px;
    }
}