
<div style="">
  
  <div class="p-1"></div>

  <div fxLayout fxLayoutAlign="center center">
    <h4 style="font-size: 20px;"> Fundoo Notes Offered. Choose The Below Service to Register. </h4>
  </div>

  <div class="p-2"></div>

    <div class="row jumbotron" fxLayout style="width: 60vw;margin: auto auto;background: rgb(187, 187, 187);position: relative;">
      <div class="card animated bounceInLeft" *ngFor="let item of services"  style="width: 15rem;margin: 0 auto">
        <div class="card-body">
          <h6 class="card-title"> Price - $ {{item.price}} /month</h6>
          <mat-divider style="background: rgb(235, 186, 186)"></mat-divider>
          <p style="color: blue;text-transform: capitalize"> {{item.name}} </p>
          <ul>  
            <li>$ {{item.price}} / month </li>
            <li style="word-break: break-all"> {{item.description}} </li>
          </ul>
        </div> 
      </div>
    </div>

  <div class="animated bounceInUp" style="text-align: center;height:2rem;width: rem;margin-top: 2rem;animation-delay:0.5s;">
    <span (click)="onSignIn()" style="">Sign In</span>
  </div>
   
</div>
      
<!-- hi  -->