<nav class="navbar navbar-collapse">
  <div class="container">
    <div class="navbar-brand">
      F U N D O O  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>  A D M I N
    </div> 
  </div>
</nav>

<div class="p-3"></div>

<div fxLayoutAlign="center center"fxLayoutGap="20px">
  <button mat-raised-button class="matButton" routerLink="dashboard">User List</button>
  <button mat-raised-button  class="matButton" routerLink="approve">Answer</button>
</div>

<div class="p-2"></div>
<mat-divider></mat-divider>
<div class="p-2"></div>

<div>
  <router-outlet></router-outlet>
</div>