
<!-- Main Navbar For The Fundoo Notes Admin  -->

<nav class="navbar navbar-collapse">
  <div class="container">
    <div class="navbar-brand">
      F U N D O O  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>  A D M I N
    </div> 
  </div>
</nav>
 <!-- nav bar div closed -->

<!-- Container For The Displaying of the Services Card. -->

<div class="container">

  <!-- Row class for Displayingthe card in the single row -->
  <div class="row">

    <!-- differentiating the column spacing for aligning it. -->
    <div class="col-lg-1"></div>
      <div class="col-lg-4">

        <!-- Card Class For Displaying the contents -->
        <!-- card header -->
        <!-- card body -->
        <div class="card" style="height: 80%;font-size: 15px;">   
            <div class="card-header text-center"> BASIC</div>
              <div class="card-body">
     
                  <div class="pricing">
                      <p> <span class="price"> PRICE : </span>  <span class="actualPrice"> $ 49 / month </span> </p>
                  </div>

                <!-- <ul>
                  <li> $ 49/months </li>
                  <li> Ability To Add Only Title and Description.</li>
                </ul> -->
                <table class="table" id="table1">
                  <tr>
                      <th>SERVICE NAME</th>
                      <th>COUNT</th>
                  </tr>
              </table>
              </div>


        </div>
      </div>

      <div class="col-lg-1"></div>

      <!-- second column spacing for aligning the second card -->
      <div class="col-lg-4">

        <!-- Card Class For Displaying the contents -->
        <!-- card header -->
        <!-- list for displaying the contents -->
        <div class="card" style="height: 80%;font-size: 15px">
            <div class="card-header text-center" > ADVANCE</div>
            <div class="card-body">
                           
                <div class="pricing">
                    <p> <span class="price"> PRICE : </span>  <span class="actualPrice"> $ 99 /month </span> </p>
                </div>
<!--     
              <ul>
                <li> $ 99/months </li>
                <li> Ability To add Title , Description , Images , Labels , Checklist and Colors.</li>
              </ul>
 -->
 <table class="table table-stripped" id="table">
  <tr>
      <th>SERVICE NAME</th>
      <th>COUNT</th>
  </tr>
</table>
            </div>
<!--   
            <div class="card-footer">
              
            </div> -->
<!-- card footer for displaying the count.. -->
          </div>
      </div>
  </div>

</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
   
    </ul>
  </nav>

<!-- main container div closed -->

<div class="container">
      <div class="row" id="dataTable" >
          
      </div>
</div>